/* CHECKOUT LAYOUT */

.checkout-container{
    max-width:700px;
}

/* PAYMENT METHODS */

.payment-options{
    display:flex;
    gap:25px;
    margin-top:25px;
}

/* PAYMENT CARDS */

.payment-option{
    width:220px;
    height:140px;

    border:2px solid #eee;
    border-radius:16px;

    background:white;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    cursor:pointer;

    font-size:18px;
    font-weight:600;

    transition:all 0.2s ease;
}

.payment-option:hover{
    border-color:#6a5cff;
}

.payment-option.active{
    background:#111;
    color:white;
    border-color:#111;
}

/* ICON */

.payment-icon{
    font-size:36px;
    margin-bottom:8px;
}

.payment-label{
    font-size:18px;
}

/* CASH INPUT AREA */

#cashSection{
    margin-top:10px;
}

#cashInput{
    width:320px;
    height:55px;

    padding:12px;

    font-size:20px;

    border-radius:10px;
    border:1px solid #ddd;
}

/* CHANGE DISPLAY */

#changeDisplay{
    margin-top:12px;
    font-size:22px;
    font-weight:600;
}

/* COMPLETE BUTTON */

.complete-btn{
    margin-top:20px;

    width:260px;
    height:55px;

    border:none;
    border-radius:30px;

    font-size:18px;
    font-weight:600;

    color:white;

    background:linear-gradient(135deg,#5b3df5,#8a6cff);

    cursor:pointer;

}

/* AMOUNT DUE */

.amount-due{
    margin-top:25px;
    
}

.due-label{
    font-size:18px;
    color:#666;
}

.due-total{
    font-size:48px;
    font-weight:700;
    color:#5b3df5;
}

.complete-sale-btn{

     margin-top:20px;

    width:260px;
    height:55px;

    border:none;
    border-radius:30px;

    font-size:18px;
    font-weight:600;

    color:white;

    background:linear-gradient(135deg,#5b3df5,#8a6cff);

    cursor:pointer;

}