/* RECEIPT */

.receipt-container{

    width:500px;

    background:white;

    padding:35px;

    border-radius:12px;

    box-shadow:0 8px 30px rgba(0,0,0,0.12);

    font-family:monospace;
}

.receipt-header{
    text-align:center;
    margin-bottom:15px;
}

.receipt-header h2{
    font-size:24px;
    margin:0;
}

.receipt-sub{
    font-size:14px;
    color:#777;
}

.receipt-info{
    font-size:15px;
    margin-bottom:10px;
}

.receipt-divider{
    border-top:1px dashed #bbb;
    margin:15px 0;
}

.receipt-row{

    display:flex;
    justify-content:space-between;

    font-size:16px;
    margin:6px 0;
}

.receipt-summary{

    margin-top:10px;

    font-size:17px;
    font-weight:bold;
}

.receipt-buttons{

    margin-top:25px;

    display:flex;
    justify-content:center;
    gap:12px;
}

.receipt-buttons button{

    padding:12px 20px;

    font-size:16px;

    border:none;
    border-radius:8px;

    background:#5b3df5;
    color:white;

    cursor:pointer;
}

.receipt-buttons button:hover{
    opacity:0.9;
}

/* RECEIPT VIEW CENTERING */

#view-receipt{
    align-items:center;
    justify-content:center;
    height:100%;
}

@media print{

    body *{
        visibility:hidden;
    }

    .receipt-container,
    .receipt-container *{
        visibility:visible;
    }

    .receipt-buttons{
        display:none;
    }

}