/* =========================
MODAL
========================= */

.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.4);
    display:flex;
    align-items:center;
    justify-content:center;
    z-index:1000;
}

.modal.hidden{
    display:none;
}

.modal-box{
    background:white;
    padding:30px;
    border-radius:10px;
    width:320px;
    text-align:center;
}

/* PIN INPUTS */

.pin-inputs{
    display:flex;
    gap:10px;
    justify-content:center;
    margin:20px 0;
}

.pin-box{
    width:50px;
    height:60px;
    font-size:28px;
    text-align:center;
    border:2px solid #ddd;
    border-radius:6px;
}

.pin-box:focus{
    border-color:#4a6cf7;
    outline:none;
}

/* ERROR */

.modal-error{
    color:#e53935;
    font-size:13px;
    height:18px;
}

/* =========================
VOID MODAL
========================= */

.void-items{
    margin:20px 0;
    text-align:left;
}

.void-item{
    display:flex;
    justify-content:space-between;
    padding:6px 0;
    border-bottom:1px solid #eee;
}

.danger-btn{
    background:#e53935;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:6px;
}

.danger-btn:hover{
    background:#c62828;
}

.modal-cancel-btn{
    background:#f1f1f1;
    border:none;
    padding:8px 16px;
    border-radius:6px;
    cursor:pointer;
    font-weight:500;
}

.modal-cancel-btn:hover{
    background:#e4e4e4;
}

.modal-actions{
    display:flex;
    justify-content:center;
    gap:12px;
    margin-top:20px;
}